services:
  db:
    image: postgres
    restart: always
    container_name: db
    environment:
      - POSTGRES_DB=enquetedb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5433:5432
    networks:
      - default

  rest:
    build: ./api_rest/
    container_name: api_rest
    ports:
      - 3334:3334
    depends_on:
      - db
    networks:
      - default

  soap:
    build: ./api_soap/
    container_name: api_soap
    ports:
      - 8000:8000
    depends_on:
      - db
    networks:
      - default

  gateway:
    build: ./api_gateway/
    container_name: api_gateway
    ports:
      - 3333:3333
    depends_on:
      - db
      - soap
      - rest
    networks:
      - default

networks:
  default:
