services:
  db:
    image: postgres
    restart: always
    container_name: db
    environment:
      - POSTGRES_DB=enquetedb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5433:5432
    networks:
      - default

  rest:
    build: ./api_rest/
    container_name: api_rest
    ports:
      - 3334:3334
    depends_on:
      - db
      - gateway
    networks:
      - default

  gateway:
    build: ./api_gateway/
    container_name: gateway
    ports:
      - 3333:3333
    depends_on:
      - db
    networks:
      - default

networks:
  default:
